@media  (max-width:768px) {

.header .logo{
    padding: 10px;
}
.header .logo h2{
    font-size: 1.8rem;
}

.menu-container{
    padding-bottom: 5px;
    border-bottom: 2px solid gray;
    top: 0px;
    position: fixed;
    z-index: 1000;
    background-color: black;
    width: 100%;
}

.portada{
    margin-top: 20px;
}


 
nav{

    position: absolute;
    background-color:black
    ;
    width: 100%;
    margin-top: 65px; 
    height: 100vh;
    transform: translateX(100%);
    transition: all 0.5s ease-in-out;
    

    
}

nav.mostrar-menu{
    transform: translateX(0);
}

nav ul{
    flex-direction: column;
    text-align: center;
      
}

nav ul li{
    padding: 20px;
      
}

nav ul li a{
    
    font-size: 1.5rem;
}

.menu-hamburguesa{
display: block;
 
 }

.boton_arriba{
    display: none;
}

}

@media (max-width:425px){
    
   
    
.oferta-container .card {
    height: 350px;
}

.footer-secundario h2, 
.footer-secundario h3, 
.footer-secundario p {
    text-align: center;
}

}

@media (max-width:375px){
    
  
.oferta-container .card {
    height: 370px;
}




}